@import url('variables.css');

html, body {
    margin: 0;
    overflow-x: hidden;
}

.header--container .icon {
    gap: 24px;
}

.icon label>i,
.right .apresentacoes .top.icon i {
    font-size: 20px;
    color: var(--verde-1);
}

.apresentacoes .top.icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.apresentacoes .fileGroup input[type="file"] {
    display: none;
}

.p-2 {
    padding: 30px 20px !important;
}

.apresentacoes .fileGroup {
    background: #b5b5b5;
    width: 100%;
    padding: 7px;
    color: var(--preto-1);
    border-radius: 7px;
    margin-bottom: 21px;
    margin-top: 7px;
}

.apresentacoes .fileGroup.full {
    background: #b5e5b5;
}

.right .apresentacoes .top {
    margin-bottom: 7px;
}

.right .apresentacoes .content {
    margin-bottom: 21px;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--preto-1) 1px solid;
    margin-bottom: 21px;
    padding-bottom: 21px;
}

.group:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0 !important;
}

body.dark-mode .group {
    border-bottom: #b5b5b5 1px solid;
}

.group .left {
    width: 150%;
}

.group .left .row .person i {
    color: var(--verde-1);
}

.group .right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.group .left,
.group .right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
}

.group .left h4,
.group .left i.fa-circle-user {
    font-size: 20px;
}

.group .left .row {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.group .left .row .person {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

.container {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trabalhador-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    padding: 15px;
    border-radius: 10px;
    position: relative;
    background-color: #b5e5b5;
    color: black;
    height: 160px;
}

.trabalhador-foto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.trabalhador-detalhes {
    margin-left: 10px;
}

.rating {
    margin-top: 15px;
    position: absolute;
    top: 90px;
    left: 15px;
    display: flex; 
    gap: 2px; 
}

.encontrar-trabalho {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #6d9e67;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.encontrar-trabalho:hover {
    background-color: #456441;
}

.apresentacoes {
    border: 1px solid; 
    padding: 15px;
    border-radius: 10px;
    border-color: var(--borda-cor);
}

.apresentacoes .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 186px;
    border: none;
    background-color: #b5b5b5;
    border-radius: 10px;
    font-style: italic;
    color: #767676;
}

.background label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.background label i {
    font-size: 24px;
}

.background label span {
    text-align: justify;
}

.background input[type="file"] {
    display: none;
}

.historico {
    border: 1px solid; 
    padding: 15px;
    border-radius: 10px;
    border-color: var(--borda-cor);
}

.right {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.analisar-trabalhadores {
    background-color: transparent;
    color: black;
    border: 2px solid #6d9e67;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

body.dark-mode .analisar-trabalhadores {
    color: white;
}

.analisar-trabalhadores:hover {
    background-color: #6d9e67;
    color: white;
}

h3 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

h3 i {
    margin-left: auto; 
}
