<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For All | Cadastro</title>

    <!--===== AWESOME ICONS =====-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--===== MAIN CSS =====-->
    <link rel="stylesheet" href="../assets/css/main.css">

    <!--===== FORMCADASTRO CSS =====-->
    <link rel="stylesheet" href="../assets/css/formCadastro.css">

    <!--===== SCRIPT JS =====-->
    <script src="../assets/js/script.js"></script>
</head>
<body>
  <header>
    <a href="../index.html"><h1 class="logo">FOR ALL</h1></a>

    <div class="icon">
      <i class="fa-solid fa-moon"></i>
    </div>
  </header>

  <main>
    <h2>Entre para Trabalhar</h2>

    <div class="content">
      <div class="row">
        <button class="google-btn">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/google/google-original.svg" alt="Google Icon">
          <span>Continuar com o Google</span>
        </button>
        
        <button class="apple-btn">
          
          <svg viewBox="0 0 128 128">
            <path d="M97.905 67.885c.174 18.8 16.494 25.057 16.674 25.137-.138.44-2.607 8.916-8.597 17.669-5.178 7.568-10.553 15.108-19.018 15.266-8.318.152-10.993-4.934-20.504-4.934-9.508 0-12.479 4.776-20.354 5.086-8.172.31-14.395-8.185-19.616-15.724C15.822 94.961 7.669 66.8 18.616 47.791c5.438-9.44 15.158-15.417 25.707-15.571 8.024-.153 15.598 5.398 20.503 5.398 4.902 0 14.106-6.676 23.782-5.696 4.051.169 15.421 1.636 22.722 12.324-.587.365-13.566 7.921-13.425 23.639M82.272 21.719c4.338-5.251 7.258-12.563 6.462-19.836-6.254.251-13.816 4.167-18.301 9.416-4.02 4.647-7.54 12.087-6.591 19.216 6.971.54 14.091-3.542 18.43-8.796"></path>
          </svg>
          <span>Continuar com a Apple</span>
        </button>    
      </div>

      <div class="row">
        <div class="separator">
          <span>ou</span>
        </div>
      </div>

      <form action="" method="post">
        <div class="row">
          <input class="input" type="text" name="pNome--input" id="pNome--input-ID" placeholder="Primeiro Nome" required>
          <input class="input" type="text" name="uNome--input" id="uNome--input-ID" placeholder="Último Nome" required>
        </div>

        <div class="row">
          <div class="email">
              <input class="input" type="email" name="email--input" id="email--input-ID" placeholder="Email Profissional" required>
              <!--Exibir via js caso o email já esteja no banco de dados-->
              <span class="email-error">O email já está em uso!</span>
          </div>
          <input class="input" type="text" name="xp--input" id="xp--input-ID" placeholder="Experiência profissional" required>
        </div>

        <div class="full-row">
          <input class="input" type="password" name="password--input" id="password--input-ID" placeholder="Senha" required>
          <!--Exbir com js caso a senha seja menor que 9 caracteres-->
          <span class="pass-error">A senha precisa de pelo menos 9 caracteres.</span>
        </div>

        <div class="full-row">
          <!--Levar para a página cadFuncionario-2.html-->
          <input class="outline--link" type="submit" value="CRIAR CONTA">
          <p>Já tem uma conta? <a href="login.html" class="strong--link">Entrar</a></p>
        </div>
      </form>
    </div>
  </main>
</body>
</html>