
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For All | Histórico de Empresas</title>

    <!--===== AWESOME ICONS =====-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--===== MAIN CSS =====-->
    <link rel="stylesheet" href="../assets/css/main.css">

    <!--===== HISTÓRICO TRABALHADOR CSS =====-->
    <link rel="stylesheet" href="../assets/css/historico_empresas.css">

    <!--===== SCRIPT JS =====-->
    <script src="../assets/js/script.js"></script>

    <style>
        html, body {
            margin: 0;
            overflow: auto;
        }

        .header--container .icon {
            gap: 24px;
        }
    </style>
</head>

<body>
    <header>
        <div class="header--container">
            <div class="logo--nav">
                <h1 class="logo">FOR ALL</h1>
                <nav>
                    <ul class="nav--container">
                        <li><a href="busca_vaga.html" class="nav--link">ENCONTRE TRABALHO</a></li>
                        <li><a href="historico_empresas.html" class="nav--link active">HISTÓRICO DE EMPRESAS</a></li>
                        <li><a href="networking.html" class="nav--link">NETWORKING</a></li>
                    </ul>
                </nav>
            </div>
            <div class="theme-icon icon">
                <i class="fa-solid fa-moon"></i>
                <i class="fa-solid fa-comments"></i>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </header>
    <br/><br/>

    <main>
        <div class="container">
            <div class="left">
                <h3>Categoria da Vaga</h3>
                <br/>
                <div class="categories">
                    <label><input type="checkbox"> Todas as categorias</label>
                    <label><input type="checkbox"> TI & Programação</label>
                    <label><input type="checkbox"> Design & Multimedia</label>
                    <label><input type="checkbox"> Marketing & Vendas</label>
                    <label><input type="checkbox"> Escrita & Conteúdos</label>
                    <label><input type="checkbox"> Administração</label>
                    <label><input type="checkbox"> Finanças</label>
                    <label><input type="checkbox"> Jurídico</label>
                    <label><input type="checkbox"> Engenharia e Manufatura</label>
                </div>
            </div>

            <div class="right">
                <div class="search-bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Pesquise vagas em que já foi contratado..."/>
                </div>
                
                <div class="selected-categories">
                    <h4>Categorias Selecionadas:</h4>
                    <!-- Aqui você pode adicionar as categorias selecionadas dinamicamente -->
                </div>
                
                <div class="vacancy">
                    <div class="header">
                        <h3>Analista de Marketing</h3>
                        <p class="salario">R$ 2000</p>
                    </div>
                    <p class="data-publicacao">Publicado: há 16 horas</p>
                    
                    <div class="vaga-info">
                        <div class="empresa">
                            <p class="descricao">Como Analista de Marketing em nossa equipe, você desempenhará um papel crucial na elaboração e execução de estratégias de marketing que impulsionem o...</p>
                            <br/>
                            <div class="categoria">Marketing & Vendas</div>
                            <br/>
                            <i class="fa-solid fa-smile"></i> Eloisa B.
                        </div>
                    </div>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-alt"></i>
                    </div>
                </div>
                
                <div class="vacancy">
                    <div class="header">
                        <h3>Estagiário de TI</h3>
                        <p class="salario">R$ 875</p>
                    </div>
                    <p class="data-publicacao">Publicado: há 1 dia</p>
                    
                    <div class="vaga-info">
                        <div class="empresa">
                            <p class="descricao">Buscamos um candidato para integrar nosso time técnico especializado em Data Protection, o estagiário será responsável pela manutenção cotidiana de máquinas...</p>
                            <br/>
                            <div class="categoria">TI & Programação</div>
                            <br/>
                            <i class="fa-solid fa-smile"></i> Eloisa B.
                        </div>
                    </div>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination">
            <button class="active">1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
        </div>
    </main>

    <br/><br/><br/>

    <footer>
        <div class="top">
            <h2 class="footer--logo">FOR ALL</h2>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>

        <div class="content">
            <div class="column">
                <h3 class="bold">Quem Somos?</h3>
                <a href="sobrenos.html" class="clear--link">Sobre Nós</a>
                <a href="#" class="clear--link">Contato</a>
                <a href="#" class="clear--link">Políticas For All</a>
        </div>

        <div class="column">
            <h3 class="bold">Recursos</h3>
            <a href="#" class="clear--link">Central de Ajuda</a>
            <a href="#" class="clear--link">Como Funciona?</a>
        </div>

        <div class="column">
            <h3 class="bold">Encontre Trabalho</h3>
            <a href="#" class="clear--link">TI e Programação</a>
            <a href="#" class="clear--link">Design e Multimedia</a>
            <a href="#" class="clear--link">Marketing e Vendas</a>
            <a href="#" class="clear--link">Escrita e Conteúdos</a>
            <a href="#" class="clear--link">Administração</a>
            <a href="#" class="clear--link">Finanças</a>
            <a href="#" class="clear--link">Jurídico</a>
            <a href="#" class="clear--link">Engenharia e Manufatura</a>
        </div>
    </footer>
</body>
</html>