<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For All | Perfil trabalhador</title>

    <!--===== AWESOME ICONS =====-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--===== MAIN CSS =====-->
    <link rel="stylesheet" href="../assets/css/main.css">

    <!--===== TELA DE PERFIL DO TRABALHADOR CSS =====-->
    <link rel="stylesheet" href="../assets/css/perfil_trabalhador.css">

    <!--===== SCRIPT JS =====-->
    <script src="../assets/js/script.js"></script>
</head>
<body>
    <header>
        <div class="header--container">
            <div class="logo--nav">
                <a href="../index.html">
                    <h1 class="logo">FOR ALL</h1>
                </a>
                <nav>
                    <ul class="nav--container">
                        <li><a href="busca_trabalhadores.html" class="nav--link">ENCONTRE TRABALHADORES</a></li>
                        <li><a href="historico_contratacoes.html" class="nav--link">HISTÓRICO DE CONTRATAÇÕES</a></li>
                        <li><a href="networking.html" class="nav--link">NETWORKING</a></li>
                    </ul>
                </nav>
            </div>
            <div class="theme-icon icon">
                <i class="fa-solid fa-moon"></i>
                <i class="fa-solid fa-comments"></i>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </header>
    <br>

    <main class="container">
        <div class="left">
            <div class="trabalhador-info">
                <img src="../assets/img/imagemGenerica.png" alt="Logo do trabalhador" class="trabalhador-foto">
                <div class="trabalhador-detalhes">
                    <h2>Tom Silva</h2>
                    <p>tomexample@gmail.com</p>
                    <p>(00) 0 0000-0000</p>
                </div>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <button class="encontrar-trabalho">Encontre Trabalho</button>
            </div>

            <div class="apresentacoes">
                <div class="top icon">
                    <h3>curriculo</h3> 
                    <label for="curriculoId"><i class="fa-solid fa-trash"></i></label>
                </div>

                <div class="fileGroup full">
                    <span>CurriculumVittae.pdf</span>
                    <input type="file" name="curriculo" id="curriculoId">
                </div>

                <div class="top icon">
                    <h3>Escolaridade</h3> 
                    <label for="curriculoId"><i class="fa-solid fa-plus"></i></label>
                </div>

                <div class="fileGroup">
                    <span>Vazio...</span>
                    <input type="file" name="curriculo" id="curriculoId">
                </div>
            </div>

            <div class="apresentacoes">
                <h3>Apresentações</h3>
                <br/>
                <div class="background">
                    <label for="apresentacaoId">
                        <i class="fa-solid fa-circle-plus"></i>
                        <span>Adicione um vídeo introdutório para as empresas que têm interesse em você</span>
                    </label>
                    <input id="apresentacaoId" type="file" accept="video/*">
                </div>
                <br>
                <button class="solid--link">Salvar</button>
            </div>
        </div>

        <div class="right">
            <div class="apresentacoes">
                <div class="top icon">
                    <h3>TI & Programação</h3>

                    <i class="fa-solid fa-pen"></i>
                </div>

                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ut quos necessitatibus consectetur nisi dicta, id totam ipsam aspernatur dolore natus. Eum, omnis praesentium eligendi iusto suscipit officia libero iste.</p>
                </div>

                <div class="top">
                    <h3>Subcategoria do Serviço</h3>
                </div>

                <div class="content">
                    <p>Desenvolvimento Web - Frontend</p>
                </div>
            </div>

            <div class="apresentacoes">
                <h3>Portifólio</h3>
                <br/>
                <div class="background">
                    <label for="apresentacaoId">
                        <i class="fa-solid fa-circle-plus"></i>
                        <span>Adicione um PDF com alguns projetos para demonstrar suas habilidades para as empresas com interesse em você</span>
                    </label>
                    <input id="apresentacaoId" type="file" accept="video/*">
                </div>
                <br>
                <button class="solid--link">Salvar</button>
            </div>


            <h3>Aqui tem algumas vagas que podem te interessar</h3>

            <div class="apresentacoes p-2">
                <div class="group">
                    <div class="left">
                        <h4>Estágio TI</h4>
                        <div class="row">
                            <div class="person">
                                <i class="fa-solid fa-circle-user"></i>
                                <span>Eloisa B.</span>
                            </div>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-alt"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <button class="solid--link">Demonstrar Interesse</button>
                        <span>R$ 1400,00</span>
                    </div>
                </div>                

                <div class="group">
                    <div class="left">
                        <h4>Estágio TI</h4>
                        <div class="row">
                            <div class="person">
                                <i class="fa-solid fa-circle-user"></i>
                                <span>Eloisa B.</span>
                            </div>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-alt"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <button class="solid--link">Demonstrar Interesse</button>
                        <span>R$ 1400,00</span>
                    </div>
                </div>

                <div class="group">
                    <div class="left">
                        <h4>Estágio TI</h4>
                        <div class="row">
                            <div class="person">
                                <i class="fa-solid fa-circle-user"></i>
                                <span>Eloisa B.</span>
                            </div>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-alt"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <button class="solid--link">Demonstrar Interesse</button>
                        <span>R$ 1400,00</span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <br/><br/><br/>

    <footer>
        <div class="top">
            <h2 class="footer--logo">FOR ALL</h2>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>

        <div class="content">
            <div class="column">
                <h3 class="bold">Quem Somos?</h3>
                <a href="sobrenos.html" class="clear--link">Sobre Nós</a>
                <a href="#" class="clear--link">Contato</a>
                <a href="#" class="clear--link">Políticas For All</a>
        </div>

        <div class="column">
            <h3 class="bold">Recursos</h3>
            <a href="#" class="clear--link">Central de Ajuda</a>
            <a href="#" class="clear--link">Como Funciona?</a>
        </div>

        <div class="column">
            <h3 class="bold">Encontre Trabalho</h3>
            <a href="#" class="clear--link">TI e Programação</a>
            <a href="#" class="clear--link">Design e Multimedia</a>
            <a href="#" class="clear--link">Marketing e Vendas</a>
            <a href="#" class="clear--link">Escrita e Conteúdos</a>
            <a href="#" class="clear--link">Administração</a>
            <a href="#" class="clear--link">Finanças</a>
            <a href="#" class="clear--link">Jurídico</a>
            <a href="#" class="clear--link">Engenharia e Manufatura</a>
        </div>
    </footer>
</body>
</html>
