<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>

    <!--===== AWESOME ICONS =====-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

      <!--===== MAIN CSS =====-->
      <link rel="stylesheet" href="../assets/css/main.css">

      <!--===== SOBRENOS CSS =====-->
      <link rel="stylesheet" href="../assets/css/sobrenos.css">
      
      <!--===== SOBRENOS CSS =====-->
      <link rel="stylesheet" href="../assets/css/sobrenos.css">
  
      <!--===== SCRIPT JS =====-->
      <script src="../assets/js/script.js"></script>
</head>
<body>
    <header>
        <div class="header--container">
            <div class="logo--nav">
                <a href="../index.html">
                    <h1 class="logo">FOR ALL</h1>
                </a>
                <nav>
                    <ul class="nav--container">
                        <li><a href="../index.html" class="nav--link">QUERO CONTRATAR</a></li>
                        <li><a href="index-funcionario.html" class="nav--link">QUERO TRABALHAR</a></li>
                    </ul>
                </nav>
            </div>
            <div class="icon--links">
                <div class="link--group">
                    <a href="login.html" class="clear--link">LOGIN</a>
                    <a href="rdb-cadastro.html" class="outline--link">CADASTRE-SE</a>
                </div>
                <div class="theme-icon icon">
                    <i class="fa-solid fa-moon"></i>
                </div>
            </div>
        </div>

        <div class="mobile">
            <div class="logo--icon">
                <a href="../index.html">
                    <h1 class="logo">FOR ALL</h1>
                </a>

                <div class="icon icon-bars">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <div class="dropdown">
                    <div class="top">
                        <a href="../index.html">
                            <h1 class="logo">FOR ALL</h1>
                        </a>

                        <div class="icon icon-xmark">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                    <div class="content">
                        <div class="mid">
                            <div class="link--group">
                                <a href="login.html" class="solid--link">LOGIN</a>
                                <a href="rdb-cadastro.html" class="outline--link">CADASTRE-SE</a>
                            </div>
                            <div class="theme-icon icon">
                                <i class="fa-solid fa-moon"></i>
                            </div>
                        </div>

                        <nav>
                            <ul class="nav--container">
                                <li><a href="../index.html" class="strong--link active">QUERO CONTRATAR</a></li>
                                <li><a href="index-funcionario.html" class="strong--link">QUERO TRABALHAR</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="first">
            <div class="left">
                <p>
                    Seja bem-vindo ao <span class="bold">FOR ALL</span>. Aqui conectamos talentos à oportunidades, transformando sonhos em realidade!
                </p>
                <div class="link--group">
                    <a href="index.html" class="solid--link">QUERO CONTRATAR</a>
                    <a href="../view/index-funcionario.html" class="clear--link strong--link">QUER TRABALHAR? <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="right">
                <a href="https://storyset.com/home" target="_blank"><img class="external--img" src="../assets/img/Project Stages-rafiki.svg" alt="Etapas de projeto"></a>
            </div>
        </section>

        <section class="second">
            <div class="right">
                <h2 class="bold">Missão</h2>
                <p>Promover a inclusão e a diversidade no mercado de trabalho ao conectar empresas que buscam talentos autistas com profissionais autistas qualificados e motivados.</p>
        </br> 
                <h2 class="bold">Visão</h2>
                <p>Ser a plataforma lider na promoção da inclusão profissional para pessoas autistas, contribuindo para um mercado de trabalho mais equitativo e diversificado globalmente.</p>
        </br>
                <h2 class="bold">Valores</h2>
                <b>. Inclusão:</b> 
                Valorizamos e promovemos a diversidade, acreditando que a inclusão de pessoas autistas enriquece o ambiente de trabalho e impuslsiona a inovação
        </br>
        </br>
                <b>. Respeito :</b>
                Tratamos todos com dignidade e empatia, reconhecendo as capacidades únicas e as nescessidades individuais de cada pessoa.
        </br>
        </br>
                <b>. Transparência:</b>
              Operamos com honestidade e clareza em todas nossas interações e processos, assegurando um ambiente de confiança para empresas e candidatos.
        </br>
        </br>
        <b>. Empoderamento:</b>
             Oferecemos suporte e recursos para ajudar as pessoas autistas e se destacarem no mercado de trabalho, proporcionando oportunidades iguais e oportunidades de crescimento.
        </br>
        </br>
             <b>. Compromisso social:</b>
            Trabalhamos para criar um impacto positivo na sociedade, apoiando a tranformação de ambientes de trabalho em espaços mais inclusivos e justos.
        </section>

        

        <section class="four">
            <h2 class="bold">VOCÊ AINDA TEM DÚVIDAS?</h2>
            <div class="container">
                <div class="left">
                    <div class="acc-container">
                        <div class="acc-item">
                            <button class="accordion">Como usar o For All?</button>
                            <div class="panel">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea ab voluptatibus labore sint exercitationem ipsum autem officia. Voluptas maiores distinctio pariatur enim quos quasi facilis eligendi, mollitia dolor similique?</p>
                            </div>
                        </div>
                        <div class="acc-item">
                            <button class="accordion">Como publicar uma vaga?</button>
                            <div class="panel">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea ab voluptatibus labore sint exercitationem ipsum autem officia. Voluptas maiores distinctio pariatur enim quos quasi facilis eligendi, mollitia dolor similique?</p>
                            </div>
                        </div>
                        <div class="acc-item">
                            <button class="accordion">Os trabalhadores são confiáveis?</button>
                            <div class="panel">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea ab voluptatibus labore sint exercitationem ipsum autem officia. Voluptas maiores distinctio pariatur enim quos quasi facilis eligendi, mollitia dolor similique?</p>
                            </div>
                        </div>
                        <div class="acc-item">
                            <button class="accordion">Quantas pessoas posso contratar?</button>
                            <div class="panel">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea ab voluptatibus labore sint exercitationem ipsum autem officia. Voluptas maiores distinctio pariatur enim quos quasi facilis eligendi, mollitia dolor similique?</p>
                            </div>
                        </div>
                        <div class="acc-item">
                            <button class="accordion">Existe custo ao utilizar a plataforma?</button>
                            <div class="panel">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea ab voluptatibus labore sint exercitationem ipsum autem officia. Voluptas maiores distinctio pariatur enim quos quasi facilis eligendi, mollitia dolor similique?</p>
                            </div>
                        </div>
                        <div class="acc-item">
                            <button class="accordion">Existe garantia ao contratar?</button>
                            <div class="panel">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea ab voluptatibus labore sint exercitationem ipsum autem officia. Voluptas maiores distinctio pariatur enim quos quasi facilis eligendi, mollitia dolor similique?</p>
                            </div>
                        </div>
                        <div class="acc-item">
                            <button class="accordion">Os trabalhadores são confiáveis?</button>
                            <div class="panel">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea ab voluptatibus labore sint exercitationem ipsum autem officia. Voluptas maiores distinctio pariatur enim quos quasi facilis eligendi, mollitia dolor similique?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <a href="https://storyset.com/home" target="_blank"><img class="external--img" src="../assets/img/Thinking face-rafiki (1).svg" alt="Pessoa pensando"></a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="top">
            <h2 class="footer--logo">FOR ALL</h2>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>

        <div class="content">
            <div class="column">
                <h3 class="bold">Quem Somos?</h3>
                <a href="sobrenos.html" class="clear--link">Sobre Nós</a>
                <a href="#" class="clear--link">Contato</a>
                <a href="#" class="clear--link">Políticas For All</a>
            </div>

            <div class="column">
                <h3 class="bold">Recursos</h3>
                <a href="#" class="clear--link">Central de Ajuda</a>
                <a href="#" class="clear--link">Como Funciona?</a>
            </div>

            <div class="column">
                <h3 class="bold">Encontre Trabalho</h3>
                <a href="#" class="clear--link">TI e Programação</a>
                <a href="#" class="clear--link">Design e Multimedia</a>
                <a href="#" class="clear--link">Marketing e Vendas</a>
                <a href="#" class="clear--link">Escrita e Conteúdos</a>
                <a href="#" class="clear--link">Administração</a>
                <a href="#" class="clear--link">Finanças</a>
                <a href="#" class="clear--link">Jurídico</a>
                <a href="#" class="clear--link">Engenharia e Manufatura</a>
            </div>
        </div>
    </footer>
</body>
</html>